* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: white;
  overflow: hidden;
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #182128);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  z-index: 10;
}

.logo {
  width: 200px;
  height: 100px;
  background: url("images/logo.png") center/60% no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  /* color: #111; */
  /* font-size: 18px; */
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: bold;
  color: #00ffd5;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

/* LAYOUT */
.container {
  display: flex;
  height: calc(100vh - 80px);
}

/* LEFT SIDE */
.contributors {
  width: 50%;
  overflow-y: auto;
  padding: 25px;
  background: rgba(24, 33, 40, 0.9);
  border-right: 3px solid #00ffd5;
}

.contributors h2 {
  text-align: center;
  color: #f38634;
  margin-bottom: 20px;
}

.member-card {
  display: flex;
  gap: 15px;
  background: rgba(36, 49, 59, 0.95);
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.member-card:hover {
  transform: translateY(-4px);
}

.member-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #00ffd5;
  object-fit: cover;
}

.member-info h3 {
  margin: 0;
  color: #00ffd5;
}

.member-info p {
  margin: 6px 0 10px;
  font-size: 14px;
  color: #dcdcdc;
}

/* SOCIAL ICONS */
.socials {
  display: flex;
  gap: 12px;
  font-size: 16px;
}

.socials a {
  color: #f38634;
  transition: 0.2s;
}

.socials a:hover {
  color: #00ffd5;
  transform: scale(1.2);
}

/* RIGHT IMAGE */
.community-side {
  width: 50%;
  height: 100%;
  background: url("images/community.jpg") center/cover no-repeat;
}

/* SCROLLBAR */
.contributors::-webkit-scrollbar {
  width: 8px;
}
.contributors::-webkit-scrollbar-thumb {
  background: #00ffd5;
  border-radius: 4px;
}

/* MOBILE */
@media (max-width: 900px) {
  body {
    overflow: auto;
  }
  .container {
    flex-direction: column;
  }
  .contributors,
  .community-side {
    width: 100%;
    height: 50vh;
  }
}

.key-skills {
  display: block;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: bold;
  color: #f38634;
}